<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title></title>
  </head>

  <body>
    <table width="100%" style="font-family: Hevetica, sans-serif; font-size: 15px; color: #696969; line-height: 23px;">
      <tr>
        <td bgcolor="#fafafa" style="padding: 30px 0;">
          <table width="500px" bgcolor="#f2f2f2" align="center">
            <tr>
              <td height="50" valign="middle" style="padding: 10px 20px 0 20px">
                <a href="https://engagerocket.co">
                  <img src="https://goo.gl/ZbDS4y" alt="" height="30">
                </a>
              </td>
            </tr>

            <tr>
              <td bgcolor='#fff' style="padding: 20px">
                <table width="100%" align="center">
                  <tr>
                    <td>
                      Hi <%= @name %>,
                    </td>
                  </tr>

                  <tr>
                    <td style="padding-top: 20px">
                      Thank you for your interest in EngageRocket.
                    </td>
                  </tr>

                  <tr>
                    <td>
                      To understand you better, I'd greatly appreciate if you could start by completing this technical practice: 

                    </td>
                  </tr>

                  <tr>
                    <td style="padding: 20px 0;" align="center">
                      <span style="font-size: 20px; border-bottom: 4px solid #397c8e; border-radius: 10px; display: inline-block;">
                        <a href="https://goo.gl/7Noea2" style="color: white; padding: 15px 40px; background: #5591a1; display: inline-block; border-radius: 5px; text-decoration: none;">https://goo.gl/7Noea2</a>
                      </span>
                    </td>
                  </tr>

                  <tr>
                    <td style="padding-bottom: 20px;">
                      Looking forward to receiving your response!
                    </td>
                  </tr>

                  <tr>
                    <td>
                      Regards,
                    </td>
                  </tr>

                  <tr>
                    <td>
                      Kevin Tran
                    </td>
                  </tr>

                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
